* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	outline: none;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}

header {
	height: 46px;
	background-color: #e4366b;
	width: 100%;
	position: fixed;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	top: 0;
	left: 0;
}

header h3 {
	line-height: 46px;
	text-align: center;
	font-size: 20px;
	color: #fff;
	width: 60%;
}

header span {
	color: #670d27;
	width: 17%;
	padding-left: 3%;
	font-weight: bold;
}

header div {
	width: 20%;
}

header div button {
	border-bottom: 0.5px solid #a20c3c;
	border-top: 0.5px solid #fff;
	width: 80%;
	height: 30px;
	background-color: #e4366b;
	border-radius: 5px;
}

footer {
	height: 50px;
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
	background-color: #484850;
}

#footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	height: 50px;
}

#footer div {
	height: 100%;
	width: 20%;
	color: #fff;
	text-align: center;
	padding-top: 2px;
	padding-bottom: 5px;
}

#footer div span {
	font-size: 0.9rem
}

#footer div h6 {
	margin-top: 3px;
	font-size: 0.5rem;
	font-weight: normal;
}

#footer div:nth-child(2) {
	border-top: 2px solid #e4366b;
	padding-top: 0px;
}

nav {
	height: 50px;
	background-color: #52525a;
	width: 100%;
	position: relative;
	top: 46px;
	left: 0;
	display: block;
}

nav div {
	position: relative;
	top: 20%;
	left: 7.5%;
	background-color: #fff;
	height: 60%;
	width: 85%;
	border-radius: 3rem;
}

nav div span {
	font-size: 1rem !important;
	display: inline-block;
	padding: auto;
	position: absolute;
	left: 5%;
	height: 80%;
	top: 10%;
}

nav div input {
	height: 95%;
	width: 80%;
	vertical-align: middle;
	position: absolute;
	top: 0;
	right: 5%;
	font-size: 0.8rem
}

#wrapper {
	position: absolute;
	top: 96px;
	bottom: 50px;
	left: 0;
	width: 100%;
	overflow: hidden;
	left: 0;
}

#scroll {
	position: absolute;
	width: 100%;
}

.indexUl {
	width: 100%;
	list-style: none;
}

.indexUl #swp .cusSwiper {
	width: 100%;
	height: 100%;
	/*background-color: yellow;*/
}

.indexUl #swp {
	height: 7rem;
	width: 100%;
	border: none;
	padding: 0;
}

.indexUl #swp img {
	height: 100%;
	width: 100%;
}

.indexUl li {
	height: 5rem;
	overflow: hidden;
	padding: 5% 3%;
	font-size: 0.76rem;
	border-bottom: 2px solid #666;
	box-sizing: content-box;
}

.indexUl li .dv1 {
	width: 35%;
	height: 100%;
	float: left;
	margin-right: 0.3rem;
}

.indexUl li .dv2 {
	width: 63%;
	height: 100%;
	float: left;
	position: relative;
}

.indexUl li div img {
	height: 100%;
	width: 100%;
}

.dv2 h3 {
	height: 40%;
	width: 100%;
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: pre-wrap;
}

.dv2 div {
	width: 80%;
	display: inline-block;
	height: 50%;
}

.dv2 p {
	margin-top: 0.3rem;
}

.dv2 .zhe {
	font-size: 0.8rem;
	margin-top: 0.3rem;
}

.dv2 .yuanjia {
	color: #e4366b;
	display: inline-block;
	font-size: 1rem;
}

.dv2 .price {
	display: inline-block;
	margin-left: 0.5rem;
	font-size: 0.8rem;
	color: #999;
}

.dv2 button {
	height: 1.5rem;
	width: 2.5rem;
	border-radius: 5px;
	background-color: #e4366b;
	color: #fff;
	position: absolute;
	right: 0.6rem;
	bottom: 0.6rem;
	outline: none;
}