* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}

header {
	height: 46px;
	background-color: #e4366b;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

header h3 {
	line-height: 46px;
	text-align: center;
	font-size: 20px;
	color: #fff;
	width: 60%;
}

header span {
	color: #670d27;
	width: 17%;
	padding-left: 3%;
	font-weight: bold;
}

header div {
	width: 20%;
}

header div button {
	border-bottom: 0.5px solid #a20c3c;
	border-top: 0.5px solid #fff;
	width: 80%;
	height: 30px;
	background-color: #e4366b;
	border-radius: 5px;
}

footer {
	height: 50px;
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
	background-color: #484850;
}

#footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

#footer div {
	height: 100%;
	width: 20%;
	color: #fff;
	text-align: center;
	padding-top: 2px;
	padding-bottom: 5px;
}

#footer div span {
	font-size: 0.9rem
}

#footer div h6 {
	margin-top: 3px;
	font-size: 0.5rem;
	font-weight: normal;
}

#footer div:nth-child(4) {
	border-top: 2px solid #e4366b;
	padding-top: 0px;
}

section {
	width: 100%;
	position: absolute;
	top: 46px;
	bottom: 50px;
	text-align: center;
}

section>input {
	padding-left: 0.3rem;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	height: 1.8rem;
	width: 80%;
	border-radius: 5px;
	box-shadow: 1px 1px 1px 1px #f9f7ea;
	font-size: 1rem;
}

section input:first-child {
	margin-top: 2rem;
}

section label {
	display: inline-block;
	text-align: left;
	width: 80%;
	font-size: 0.8rem;
	height: 1.8rem;
	line-height: 1.8rem;
	color: #333;
}

section>span {
	display: inline-block;
	width: 80%;
	color: red;
	height: 2rem;
	line-height: 2rem;
	text-align: left;
	opacity: 0;
}

section label input {
	vertical-align: middle;
	height: 0.8rem;
	width: 0.8rem;
}

section label a {
	display: inline-block;
	margin-left: 20%;
	color: #999;
}

#registerBtn {
	display: inline-block;
	height: 1.8rem;
	width: 80%;
	background-color: #e83b70;
	color: #fff;
	border-radius: 5px;
	font-size: 1rem;
}