header {
    height: 0.45rem;
    justify-content: center;
    font-size: 0.24rem;
}
nav {
    width: 100%;
    height: 0.45rem;
    position: fixed;
    top: 0.45rem;
    background: #52525A;
    display: flex;
    justify-content: center;
    align-items: center;
    div {
        width: 85%;
        height: 0.35rem;
        background-color: #FFFFFF;
        border-radius: 0.2rem;
        padding: 0 0.15rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        span {
            padding-right: 0.1rem;
        }
        input {
            width: 90%;
            height: 100%;
        }
    }
}
section {
    width: 100%;
    position: absolute;
    top: 0.9rem;
    bottom: 0.5rem;
    flex-grow: 1;
}
#wrapper {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    #scroller {
        position: absolute;
        top: 0;
        width: 100%;
        #scroller ul {
            width: 100%;
            list-style: none;
            margin: 0;
            padding: 0;
        }
    }
}
/*
    * {作为测试，实际上线时候需要将swiper的高度自适应 * 写固定的4rem会出现图片无法自适应}
    */
#bannerDiv {
    width: 100%;
    height: 2.5rem;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    .swiper-container {
        width: 100%;
        height: 100%;
        .swiper-slide {
            
            img{
                width: 100%;
                height: 100%;
                vertical-align: middle;
               
            }
        }
    }
}
.listItem {
    height: 1.1rem;
    width: 100%;
    margin: 0;
    padding: 10px;
    display: flex;
    display: -webkit-flex;
    flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    align-items: center;
    font-size: 20px;
    border-bottom: 1px solid #666;
    
    div:nth-child(1){
        width:.9rem;
        height: .9rem;
        img{
            width: 100%;
            height: 100%;
        }
    }
    
    div:nth-child(2){
        width: 2rem;
        height: .9rem;
        div{
            width: 100%;
            height: 50%;
            
        }
        
        .itemRTop{
            font-size: 16px;
            line-height: .21rem;
            color: #666;
            padding: 5px;
            font-weight: bold;
            overflow: hidden;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            display: -webkit-box;
        }
        .itemRBottom{
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            div:nth-child(1){
                width: 1rem;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                div:nth-child(1){
                    height: 60%;
                    font-size: 18px;
                    font-weight: bold;
                    line-height: .34rem;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    span:nth-child(1){
                        color: #f32973;
                    }
                    span:nth-child(2){
                        color: #EEEEEE;
                        text-decoration: line-through;
                    }
                }
                div:nth-child(2){
                    height: 40%;
                    font-size: 14px;
                    padding-left: 10px;
                    color: #999;
                    
                }
                
            }
            
            .addcard{
                width: .7rem;
                height: 60%;
                border-radius:.15rem;
                background: #E32E65;
                text-align: center;
                span{
                    font-size: 20px;
                    color: #FFFDEF;
                    
                }
            }
            
        }
    }
}